body {
  margin: 0;
  padding: 0;
  font-family: Open Sans;
  font-size: 62.5%;
  color: #444;
}

#header {

	height: 50%;
	width: 100%;
	background-image: url("kuvat/22766560_10203967598145873_527954106_o.jpg")
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
