body {
  	margin: 0;
  	padding: 0;
  	font-family: Open Sans;
  	font-size: 62.5%;
  	color: #444;
	}

.bgImageContainer {
	background-image: url("kuva1.jpg");
	background-size:100%;
	
}


#head {
	height: 100%;
	width: 100%;
	
	text-align: center;
	margin-bottom: 30px;	
}


#title {
	text-transform:uppercase;	
	color: white;
	font-size: 70px;
	font-family: 'Oswald', sans-serif;
	opacity: 0.8;
	text-shadow: 5px 6px 8px rgba(0,0,0,.4);	
}

#bodyText {
	font-size: 30px;
	color: #ffffff;
        font-family: 'Oswald', sans-serif;
	text-shadow: 3px 4px 5px rgba(0,0,0,.4);
}


.container {
	width: 100%;	
	overflow: hidden;
	margin: 0 auto 0 auto;
}

