body {
	margin: 0;
  	padding: 0;
  	font-family: Open Sans;
  	
  	

}


html { 
  background: url(kuvat/universe.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
}



.image1 {
	width:200px;
	height:200px;
	border-radius: 50%;
	-webkit-filter: drop-shadow(10px 10px 14px black);
	filter: drop-shadow(10px 10px 12px black);
	-webkit-filter: sepia(60%); /* Safari */
    filter: sepia(55%);
    
     display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    
}

#head {
	height: 100%;
	width: 100%;
	text-align: center;
	margin-top:50px;	
}


#title {
	text-transform:uppercase;	
	color: white;
	font-size: 70px;
	font-family: 'Oswald', sans-serif;
	opacity: 0.8;
	text-shadow: 5px 6px 8px rgba(0,0,0,.4);
	margin-top:0px;
	margin-right: auto;
	margin-left: auto;

}

#bodyText {
	font-size: 30px;
	color: #ffffff;
        font-family: 'Oswald', sans-serif;
	text-shadow: 3px 4px 5px rgba(0,0,0,.4);
}

.icon1 {
	width:30px;
	height:30px;
	margin-top: 20px;

	margin-right: 20px;
	display:inline-block;

}

.icon2 {
	width:30px;
	height:30px;
	
	margin-right: 20px;
   display:inline-block;
}

.icon3 {
	width:30px;
	height:30px;

display:inline-block;
  
}


#icons {
display: block;
position: absolute;
  margin: 0 auto;
 left: 50%;
transform: translate(-50%);
 
}

.icon1:hover {
transition: .5s ease;
  opacity: 0.5;

}

.icon2:hover {
transition: .5s ease;
  opacity: 0.5;

}

.icon3:hover {
transition: .5s ease;
  opacity: 0.5;

}